{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log",
        "stryker": {
            "badge": "master"
        }
    },
    "mutators": {
        "@default": true,
        "MethodCallRemoval": {
            "ignore": [
                "bizley\\jwt\\Jwt::init::186",
                "bizley\\jwt\\JwtHttpBearerAuth::init::77"
            ]
        }
    },
    "minMsi": 100,
    "minCoveredMsi": 100
}
