{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "MethodCallRemoval": {
            "ignore": ["bizley\\jwt\\Jwt::init::189"]
        }
    },
    "minMsi": 100,
    "minCoveredMsi": 100
}
